{% extends 'base.html' %}
{% block head %}
<title>Home</title>
<style>
a:hover{
    color: blue;
}
</style>
{% endblock head %}


{% block container %}
<br>

<div class="row">
    {% for category in categories %}
    <div class="p-3 col-md-4 col-sm-12">
        <div class="card" style="padding: 0;">
            <img class="card-img-top w-100 border" src="{{ category.cat_image.url }}" alt="{{ category.cat_image.url }}">
            <div class="card-body">
                <a href="{% url 'tutorials:sub_cats' category.cat_slug %}"><h2>{{ category.cat_title }}</h2></a> 
                <p class="text-secondary">{{ category.cat_overview }}</h2>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock container %}

